# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.out
*.dSYM

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled folders
x64/
Debug/
.vs/

# VS Code Stuff
tasks.json
c_cpp_properties.json

.DS_Store